body {
  background-color: transparent; }

.App .container {
  margin-left: 0 !important; }

h1 {
  font-size: 32px;
  line-height: normal;
  letter-spacing: -.01em;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0; }

h2 {
  font-size: 22px;
  line-height: 100px;
  letter-spacing: -.01em;
  margin: 0 0 0 0; }

h1, h2, h3, h4, h6 {
  font-weight: normal;
  color: #333333;
  cursor: default; }

#headerImage {
  vertical-align: middle;
  border: 0; }

.web-title h1 {
  margin-top: 0;
  margin-bottom: 0; }

.page-title {
  margin-bottom: 30px; }
  .page-title h2 {
    line-height: 100px;
    margin-top: 0; }

.error_message {
  color: #a94442; }

#formInlineName {
  width: 304px; }

.panel-default {
  border-color: #ffffff !important; }

button {
  width: 100px; }

.col-md-6, .col-md-8 {
  padding-left: 0 !important; }

#headerImage {
  width: 186px;
  margin-bottom: 50px;
  cursor: pointer; }

.radio + .radio {
  margin-top: 5px !important; }

.radio input[type=radio] {
  margin-left: 0 !important; }

#password, #confirmPassword {
  width: 50%;
  min-width: 352px;
  margin-bottom: 10px; }

.password_form label {
  font-weight: normal; }

.password-cancel {
  margin-top: 50px; }

.form-group {
  margin-bottom: 4px !important; }

.email_form button {
  margin-left: 5px;
  margin-right: 30px;
  margin-top: 50px; }

.email_form #userId {
  max-width: 67%;
  min-width: 302px; }

.email_form .example-email {
  margin-bottom: 10px; }

.email_form .email-input {
  margin-top: 20px; }

.code_form {
  padding-left: 15px; }
  .code_form .code-field {
    margin-bottom: 10px; }
  .code_form .col-md-5.left {
    padding-left: 0 !important;
    width: 25%; }
  .code_form .code-input {
    border-left: solid;
    border-left-width: 1px;
    border-left-color: #695454;
    padding-left: 4%;
    padding-top: 10px; }
    .code_form .code-input button {
      margin-top: 30px; }
  .code_form .method_radios {
    margin-bottom: 30px; }
