body {
  background-color: transparent;
}
.App .container{
  margin-left: 0 !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.btn-email {
  margin-top: 50px;
  margin-bottom: 30px;
}

.email-button {
  margin-top: 50px;
}

.email-component {
  padding-left: 0 !important;
}


.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
    margin-left: 5px;
    margin-right: 30px;
    width: 100px;
}

.cancel-text {
    line-height: 38px;
    color: #0072C6;
}

.cancel-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.web-title {
  width: fit-content;
}

/* .panel-body {
  width: fit-content;
} */

.code-input {
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #695454;
}

h1 {
  font-size: 32px;
  line-height: normal;
  letter-spacing: -.01em;
  padding-left: 0px;
  padding-right: 0px;
}

h2 {
    font-size: 22px;
    line-height: 100px;
    letter-spacing: -.01em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #333333;
    margin: 0 0 0 0;
    cursor: default;
}

#headerImage {
  vertical-align: middle;
  border: 0;
}

.page-title {
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}
.error_message {
  color: #a94442;
}
#formInlineName {
  width: 304px;
}

.email-form {
  line-height: 50px;
}

.form-group {
  margin-bottom: 4px !important;
}

#root > div > div > div.body > div > div > div.col-md-6.email-component > div > div > form > div > input {
  width: 76%;
}

#formInlineName {
  width: 75%;
}

.example-email {
  margin-bottom: 10px;
}

.code_form .col-md-5.left {
  padding-left: 0 !important; 
}

h5 > label {
  margin-bottom: 20px;
}

.password_form .cancel-text {
  line-height: 135px;
}
#headerImage {
  width: 186px;
  height: 70px !important;
}